{% block content %}
    {% for b in booking %}
        <div>
            <div class="card">
                <div class="card-body">
                    <p>Room booking {{ b.id }}:</p>
                    <h2 class="card-text">
                        {{ b.room_info.chain_name }} Hotels
                    </h2>
                    <p class="card-text">
                        {{ b.room_info.room_addr }}
                    </p>
                    <p class="card-text">
                        {{ b.from_date }} - {{ b.to_date }}
                    </p>
                    {% if c_date %}
                        {% if b.from_date >= c_date %}
                            {% if current_user %}
                                {% if current_user.priv > 0 %}
                                    <a href="{{ url_for('cancel_booking', booking_id = b.id) }}"><span class="fa fa-dollar-sign"></span> Mark Booking as Paid</a>
                                    <br>
                                    <a href="{{ url_for('edit_booking', booking_id = b.id) }}"><span class="fa fa-edit"></span> Edit Booking</a>
                                    <br>
                                {% endif %}
                            {% endif %}
                            <a href='{{ url_for("cancel_booking", booking_id = b.id) }}'><span class="fa fa-trash-alt"></span> Cancel Booking</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}