{% block content %}
{% if room %}
    <div class="card">
        <h5 class="card-header text-center">{{ room.capacity }} Person Room </h5>
        <div class="card-body">
            <p class="card-title">{{ room.chain_info.name }} Hotels</p>
            <p class="card-text">Address: {{ room.room_addr }}</p>
            <p class="card-text">Price: {{ room.price }}$ / night<!-- TODO: GENERATE ROOM DESCRIPTION --></p>
            <p class="card-text">Amenities: {{ room.amenities }}</p>
            <p class="card-text">View: {{ room.view }}</p>
            <p class="card-text">Condition: {{ room.condition }}</p>
            <a class="btn btn-dark" href="{{ url_for('book_room', room_id = room.id, from_date = form.from_date.data, to_date = form.to_date.data) }}">
                Book Room
            </a> 
            {% if current_user.is_authenticated %}
                {% if current_user.priv > 0 %}
                    <p class="card-text">
                        DEBUG INFO:
                    </p>
                    <p class="card-text">
                        CHAIN_ID: {{ room.chain_info.id }}
                    </p>
                    <p class="card-text">
                        ROOM_ID: {{ room.id }}
                    </p>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endif %}
{% endblock %}