{% extends "base.html" %}
{% block content %}
    <div class="container text-center">
        <p>The following rooms have been found:</p>
        <div class="card-deck">
        {% for room in rooms %}
            <div class="card">
                <img class="card-img-top" src="/get_image?image={{ room.image }}" alt="No Room Picture Found!">
                <div class="card-body">
                    <h5 class="card-title">{{ room.capacity }} Person Room </h5>
                    <p class="card-text">{{ room.price }}$ / night<!-- TODO: GENERATE ROOM DESCRIPTION --></p>
                    <a href="room_info/{{ room.room_id }}/" class="btn btn-dark">Book Room</a>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
