{% extends "base.html" %}
{% block content %}
    <div class="container">
        <form method="post">
            <label for="username">Username:</label>
            <input name="username" type="text" class="form-control" id="username" required>
            <label for="password">Password:</label>
            <input name="password" type="password" class="form-control" id="password" required>
            <button type="submit" class="btn btn-dark" value="Login">Login</button>
        </form>
    </div>
{% endblock content %}