{% block content %}
    {% if form %}
    <div class="container">
        <h3>Personal Information</h3>
        <div class="d-flex">
            <p>
                {{ form.f_name.label }}<br>
                {{ form.f_name(size=64, class="form-control") }}<br>
                {% for error in form.f_name.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p class="px-3">
                {{ form.m_name.label }}<br>
                {{ form.m_name(size=64, class="form-control") }}<br>
                {% for error in form.m_name.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.l_name.label }}<br>
                {{ form.l_name(size=64, class="form-control") }}<br>
                {% for error in form.l_name.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
        </div>
       
        <p>
            {{ form.sin.label }}<br>
            {{ form.sin(size=9, class="form-control") }}<br>
            {% for error in form.sin.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
    </div>
    {% endif %}
{% endblock %}