{% extends "base.html" %}

{% block content %}
    <h1>Edit Booking</h1>
    <div class="container">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="d-flex">
        <p>
            {{ form.from_date.label }}<br>
            {{ form.from_date(class="form-control", type="date") }}<br>
            {% for error in form.from_date.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p class="px-3">
            {{ form.to_date.label }}<br>
            {{ form.to_date(class="form-control", type="date") }}<br>
            {% for error in form.to_date.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.checked_in.label }}<br>
            {{ form.checked_in(class="form-control") }}<br>
            {% for error in form.checked_in.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p class="px-3">
            {{ form.room.label }}<br>
            {{ form.room(size=4, class="form-control") }}<br>
            {% for error in form.room.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p class="px-3">
            {{ form.user.label }}<br>
            {{ form.user(size=4, class="form-control") }}<br>
            {% for error in form.user.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <div>
            <p class="py-4">{{ form.submit(class="btn btn-dark") }}</p>
        </div>
        </div>
    </form>
</div>
{% endblock %}